{% block slideshow %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

<div class="section-body" id="slideshow">
	{% for slide in self.specific.slides %}
        <div class="slide">
            <div class="slide-content">
                {% include_block slide %}
            </div>
        </div>
    {% endfor %}

    <button id="prev" style="float: left;" onclick="plusSlides(-1)">&#10094;</button>
	<button id="next" style="float: right;" onclick="plusSlides(1)">&#10095;</button>
</div>
{% endblock %}

<!-- if forloop.counter == slides.count , display mark as complete button -->
