{% load static %}
<!DOCTYPE html>
<html>
<head>

<!-- {% comment %}
	{% include 'courses/css_include.html' %}
	{% include 'courses/js_include.html' %}
    {% endcomment %} -->
	<!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Learning Platform</title>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand">
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'home' %}">Learning Platform</a>
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'users:community' %}"><i class="bi bi-people-fill"><span class="icon-label">community</span></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'users:detail' request.user.id %}"><i class="bi bi-person-circle"><span class="icon-label">profile</span></i></a>
					</li>
				</ul>
			</div>
		</nav>
		{% if messages %}
	            {% for message in messages %}
	              <div> <!-- bootstrap has a way to handle this with: class="alert alert-{{ message.tags }}" -->
	                Message: {{ message }}
	              </div>
	            {% endfor %}
	          {% endif %}

		{% block content %}
		{% endblock %}
	</div>
	
</body>
</html>
