{% extends "users/base.html" %}
{% block content %}
<div class="container">
	<div class="row profile-card">
		<div class="col-lg-3 col-sm-12">
			<img src="{{ user.profile_picture.url }}" width = '150' height = 'auto'>
		</div>	<!-- end profile image col -->

		<div class="col-lg-9 col-sm-12">
		<h2 class="h-with-update">Your Information</h2> 
		{% if user.pk == request.user.pk %}
			<a href="{% url 'users:update_profile' %}">
					<i class="bi bi-pencil edit"><span class="sr-only">Edit</span></i>
			</a>
		{% endif %}
		<ul>
			<li>{{ user.first_name }} {{ user.last_name }}</li>
			<li>{{ user.get_role_display }}</li>
			<li>Pronouns: {{ user.pronouns }}</li>
			<li>Email: {{ user.email }}</li>
			<li>Team: {{ user.team }}</li>
		</ul>
		</div> <!-- end your info column -->
	</div> <!-- end row -->
	<div class="row">
		<h2>Milestones</h2>
	</div>
	<div class="row">
		<h2>Consent and Sharing</h2>
	</div>
	<p><a href="{% url 'users:logout' %}">Log out</a></p>

</div>
{% endblock content %}
