name: learningplatform push workflow
on: [push]
jobs:
  Push-Workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Pull down code
        uses: actions/checkout@master
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run migrations
        run: python manage.py migrate
      - name: Run tests
        run: python manage.py test
      - name: Load fixtures
        run: python manage.py loaddata dev_example_data.json
